## 1_ Read data using pands

In [4]:
import pandas as pd
data = pd.read_csv('Cust_Purch_Data.csv')

## 2_ show first 18 recorods

In [6]:
data.head(10)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
5,Mrs.,Andre,McGuire,to@hotvo.ne,Male,50,Timken Company,Communications Director,(770) 426-3078,G8J 3D9,AB,5610000000000000,12/2018,Laser,25.32,Red,44.6.228.222,Thursday,pm,10/06/2030
6,Mr.,Cody,Thompson,nebuite@mi.bg,Female,62,Nicor Inc,Special Education Teacher,(837) 589-1682,T2I 9L2,PE,6370000000000000,10/2020,Solo,52.88,Blue,46.87.230.156,Thursday,am,09/23/2044
7,Mr.,Cory,Duncan,rucekefif@zi.mt,Male,36,Integrated Electrical Services Inc.,Urban Planner,(529) 615-1417,C9D 4Y4,NU,6300000000000000,10/2028,Diners Club enRoute,10.69,Blue,209.5.235.14,Friday,pm,04/24/2048
8,Miss,Dorothy,Watkins,cakpez@can.pm,Female,36,Service Corp. International,Veterinarian,(279) 709-6064,B0X 0B5,MB,343000000000000,03/2022,Diners Club Carte Blanche,99.56,Green,11.57.253.20,Wednesday,am,10/21/1920
9,Dr.,Rose,Tate,nafi@kuzrame.ee,Female,53,Eastman Kodak Company,Software Engineer,(410) 596-2046,M4I 0U9,NT,6300000000000000,04/2022,Discover Card,26.32,Red,177.27.84.7,Saturday,pm,10/03/2058

## 3_ get the overview of my data

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

## 4_ what are the max, min and mean ages of my customer?

In [11]:
print ('Max. age of the customer is: ',data['age'].max())
print ('Min. age of the customer is: ',data['age'].min())
print ('Avg. age of the customer is: ',data['age'].mean())

Max. age of the customer is:  65
Min. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

## 5_ what are the three most common customer's names?

In [12]:
data['first'].value_counts().head(4)

first
Willie     130
Francis    124
Eula        86
Julian      83
Name: count, dtype: int64

## 6_ two customers have the same phone number, can you find those customers?

In [13]:
data['phone']

phone
(263) 382-8004    2
(712) 247-7037    1
(876) 882-4110    1
(401) 747-5970    1
Name: count, dtype: int64

In [15]:
filtered_data = data[data['phone']== '(263) 382-8004']
filtered_data

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

## 7_ how many customers have profession "Structural Engineer"?

In [17]:
data[data['profession'] == 'Structural Engineer'].count()['first']

87

## 8_ how many male andfemale customers are 'Structural Engineer'?

In [19]:
data[(data['profession'] == 'Structural Engineer') & (data['gender'] == 'Male')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

In [20]:
data[(data['profession'] == 'Structural Engineer') & (data['gender'] == 'Female')].count()

prefix        44
first         44
last          44
email         44
gender        44
age           44
company       44
profession    44
phone         44
postal        44
province      44
cc_no         44
cc_exp        44
cc_type       44
price(CAD)    44
fav_color     44
ip            44
weekday       44
ampm          44
date          44
dtype: int64

## 9_ find out the female structual Engineers from province Alberta (AB)?

In [21]:
data[(data['profession'] == 'Structural Engineer') & (data['gender'] == 'Female') & (data['province'] == 'AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

## 10_ what is the max, min and average spending?

In [24]:
print('Max. spending: ',data['price(CAD)'].max())
print('Min. spending: ',data['price(CAD)'].min())
print('Avg. spending: ',data['price(CAD)'].mean())

Max. spending:  100.0
Min. spending:  0.0
Avg. spending:  49.990775

## 11_ who did not spend anything? company wants to send a deal to encourge thw customer to buy stuff?

In [25]:
data[data['price(CAD)'] ==0.0].count()

prefix        2
first         2
last          2
email         2
gender        2
age           2
company       2
profession    2
phone         2
postal        2
province      2
cc_no         2
cc_exp        2
cc_type       2
price(CAD)    2
fav_color     2
ip            2
weekday       2
ampm          2
date          2
dtype: int64

## 12_ as a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or mor, plese find out the customers?

In [26]:
data[data['price(CAD)']>=100.0].count()

prefix        3
first         3
last          3
email         3
gender        3
age           3
company       3
profession    3
phone         3
postal        3
province      3
cc_no         3
cc_exp        3
cc_type       3
price(CAD)    3
fav_color     3
ip            3
weekday       3
ampm          3
date          3
dtype: int64

## 13_ how many emails are associated with this credit card number '5020000000000230'?

In [29]:
data[data['cc_no']==5020000000000230].count()

prefix        2
first         2
last          2
email         2
gender        2
age           2
company       2
profession    2
phone         2
postal        2
province      2
cc_no         2
cc_exp        2
cc_type       2
price(CAD)    2
fav_color     2
ip            2
weekday       2
ampm          2
date          2
dtype: int64

In [31]:
data[data['cc_no']==5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

## 14_ we need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

In [32]:
data['cc_exp'].head(4)

0    05/2018
1    07/2028
2    02/2023
3    02/2028
Name: cc_exp, dtype: object

In [34]:
data.dtypes

prefix         object
first          object
last           object
email          object
gender         object
age             int64
company        object
profession     object
phone          object
postal         object
province       object
cc_no           int64
cc_exp         object
cc_type        object
price(CAD)    float64
fav_color      object
ip             object
weekday        object
ampm           object
date           object
dtype: object

In [35]:
data['cc_exp'].head(3)

0    05/2018
1    07/2028
2    02/2023
Name: cc_exp, dtype: object

In [37]:
sum(data['cc_exp'].apply(lambda x: x[3:]) == "2019")

2684

In [40]:
data[data['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

prefix        2684
first         2684
last          2684
email         2684
gender        2684
age           2684
company       2684
profession    2684
phone         2684
postal        2684
province      2684
cc_no         2684
cc_exp        2684
cc_type       2684
price(CAD)    2684
fav_color     2684
ip            2684
weekday       2684
ampm          2684
date          2684
dtype: int64

## 15_ how many people use visa as their Credit Provider?

In [42]:
sum(data['cc_type']== 'Visa')

1721

In [43]:
sum(data['cc_type']== 'Discover Card')

1739

## 16_ can you find the customer who spent 100 CAD using visa?

In [44]:
data[(data['cc_type']=='Visa') & (data['price(CAD)'] ==100.0)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

## 17_ what are two most common professions?

In [45]:
data['profession'].value_counts().head(4)

profession
Preschool Teacher         112
Distribution Manager      107
Scientific Programmer     106
Hospital Administrator    102
Name: count, dtype: int64

## 18_ can you tell the top 5 most popular email providers? (e.g gmail.com, yahoo.com, etc..)

In [56]:
data.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [63]:
data['email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

## 19_ is there any customers who is using email with "am.edu"?

In [59]:
data[data['email'].apply(lambda x: x.split('@')[1])=='gmail.com']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
198,Mr.,Jerry,Moss,jufkettug@gmail.com,Male,43,"Earthlink, Inc.",Database Manager,(885) 418-2139,J9W 3E4,AB,4030000000000000,04/2019,Laser,14.58,Black,91.212.40.163,Thursday,pm,08/10/2014
201,Mr.,Peter,Gibson,oniweput@gmail.com,Male,27,Praxair Inc,Family Counselor,(566) 956-5103,M2I 2Z7,QC,6330000000000000,08/2026,Diners Club enRoute,25.10,Yellow,10.56.93.210,Saturday,am,12/25/2019
204,Miss,Gavin,Gonzales,gebasise@gmail.com,Male,62,Science Applications Intl. Inc.,Portfolio Manager,(331) 515-6376,C7D 9X8,QC,6010000000000000,12/2022,Diners Club Carte Blanche,28.22,Green,147.83.94.202,Tuesday,am,04/18/1953
205,Dr.,Peter,Reese,sefed@gmail.com,Male,55,Golden West Financial Corporation,Human Resources Manager,(933) 761-5156,J8M 0M6,PE,201000000000000,05/2023,Switch,94.94,Red,15.74.125.17,Thursday,am,03/19/2013
209,Dr.,Rose,Dean,robleg@gmail.com,Male,35,EGL Inc.,Animal Trainer,(841) 422-2620,K2K 9D1,YT,201000000000000,09/2021,Bankcard,53.74,White,254.143.37.38,Friday,pm,04/24/1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5176,Mrs.,Chester,Norton,dehozic@gmail.com,Male,37,Textron Inc,Family Counselor,(971) 487-6006,K9Z 3L9,PE,4900000000000000,05/2020,Discover Card,59.21,Green,19.216.217.237,Tuesday,pm,01/15/2069
5183,Mrs.,Cole,Medina,vuputum@gmail.com,Female,23,National Rural Utilities Cooperative Finance C...,Production Planner,(470) 454-8001,C9R 1D5,YT,5110000000000000,09/2027,Visa,18.27,Blue,222.71.17.226,Friday,pm,05/16/2046
5184,Mr.,Lettie,Pittman,pofizwew@gmail.com,Male,55,RoadwayCorp,Stress Reduction Specialist,(357) 990-3205,V6M 3M1,NL,6010000000000000,03/2027,Visa Electron,14.31,Yellow,148.110.44.175,Tuesday,pm,01/01/2068
5192,Miss,Lola,Webb,ledhinep@gmail.com,Male,32,J.P. Morgan Chase & Co.,Financial Analyst,(500) 722-3522,K0J 4U3,YT,6240000000000000,02/2027,Diners Club Carte Blanche,73.92,Green,102.65.49.72,Wednesday,pm,10/16/1959
5196,Mr.,Jeremy,Oliver,uhepu@gmail.com,Female,44,CNF Inc.,Executive Assistant,(740) 482-1602,M2E 8C1,AB,346000000000000,04/2023,Laser,67.23,Blue,13.98.14.175,Thursday,pm,12/24/2014

## 20_ which day of the week the stor gets more customers?

In [60]:
data['weekday'].value_counts().head()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64